/* Rofi app launcher — Nord theme */

configuration {
    modi:           "drun,run";
    show-icons:     true;
    icon-theme:     "Papirus-Dark";
    drun-display-format: "{name}";
    display-drun:   "  Apps";
    display-run:    "  Run";
    terminal:       "alacritty";
    kb-cancel:      "Escape";
}

@import "nord.rasi"
